body {
  background-color: #F4D04E;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.card {
  background-color: #FFFFFF;
  border-radius: 1.25rem;
  width: 21rem;
  padding: 1.5rem;
  box-shadow: 10px 10px 0px #111111;
  border: 1px solid #111111;
}

.card-figure {
    margin: 0;
}

.card-image {
    width: 100%;
    border-radius: 0.625rem;
    display: block;
}

.learning-tag {
    background-color: #F4D04E;
    color: #111111;
    font-family: "Figtree", Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 800;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    display: inline-block;
    margin-top: 1.5rem;
    line-height: 150%;
}

.published-date {
    color: #111111;
    font-family: "Figtree", Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 0.8rem;
    line-height: 150%;
}

.card-title {
    color: #111111;
    font-family: "Figtree", Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 0.5rem;
    line-height: 150%;
}

.card-title a {
    text-decoration: none;
    color: inherit;
}

.card-title:hover {
    color: #F4D04E;
    cursor: pointer;
}

.card-text {
    color: #6B6B6B;
    font-family: "Figtree", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
}

.author {
    display: flex;
    align-items: center;
}

.author-picture {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.75rem;
    margin-top: 0.5rem;
}

.author-name {
    color: #111111;
    font-family: "Figtree", Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 800;
    padding: 0.25rem 0rem;
    border-radius: 0.25rem;
    display: inline-block;
    margin-top: 0.5rem;
    line-height: 150%;
}

.author-name a {
    text-decoration: none;
    color: inherit;
}

.author-name:hover {
    color: #F4D04E;
    cursor: pointer;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 0.1875rem solid #111111;
  outline-offset: 0.1875rem;
  border-radius: 0.25rem;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0.1875rem solid #111111;
  outline-offset: 0.1875rem;
  border-radius: 0.25rem;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/static/Figtree-ExtraBold.ttf');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/static/Figtree-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}